<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Fasilitas - Admin</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    {%include 'admin/vendor.html'%} 

    <!-- Custom CSS -->
    <style>
        #fasilitas{
            background-color: rgba(134, 163, 194, 0.1);
        }
        #btn-custom {
            border: 2px solid #000;
            color: #000;
        }

        #btn-custom:hover {
            background-color: #432ad4;
            color: #fff;
        }

        #table-custom thead {
            background-color: #f1f1f1;
        }

        #table-custom tbody tr:hover {
            background-color: #f1f1f1;
        }

        #img-thumbnail {
            width: 100px;
            height: auto;
        }
    </style>
   

</head>

<body>
    {%include 'admin/sidebar.html'%}

    <!-- Start Isi Fasilitas -->
    <main id="main" class="main">
        <div class="pagetitle">
            <div>
                <h1>Fasilitas</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Fasilitas</li>
                    </ol>
                </nav>
            </div>
        </div><!-- End Page Title -->

        <div class="d-flex justify-content-end mb-3 me-5">
            <button type="button" class="btn btn-light btn-custom" id="btn-custom">
                <a href="/adminAddFasilitas" style="text-decoration: none; color: inherit;">Add Fasilitas</a>
            </button>
        </div>
        

        <section class="section">
            <div class="table-responsive">
                <table class="table table-bordered" id="table-custom">
                    <thead>
                        <tr>
                            <th class="text-center">No</th>
                            <th class="text-center">Foto</th>
                            <th class="text-center">Nama Fasilitas</th>
                            <th class="text-center">Deskripsi</th>
                            <th class="text-center">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in fasilitas %}
                    
                        
                        <tr>
                            <td class="text-center">{{loop.index}}</td>
                            <td class="text-center"><img src="static/fotoFasilitas/{{item.gambarFasilitas}}" alt="Sample Image" class="img-fluid" id="img-thumbnail"></td>
                            <td>{{item.namaFasilitas}}</td>
                            <td>{{item.deskripsiFasilitas|safe}}</td>
                            <td class="text-center">
                                <a href="/adminEditFasilitas/{{item._id}}">
                                    <button type="button" class="btn btn-primary btn-sm me-2"><i class="bi bi-pencil-square"></i> Edit</button>
                                </a>
                                <a href="/adminDeleteFasilitas/{{item._id}}">
                                    <button type="button" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Delete</button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        
                        <!-- Repeat the above <tr> block for more rows -->
                    </tbody>
                </table>
            </div>
        </section>
    </main><!-- End #main -->

    <!-- End Fasilitas -->

{%include 'admin/footer.html'%}
