<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Berita</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {%include 'admin/vendor.html'%}
  <style>
    #berita {
      background-color: rgba(134, 163, 194, 0.1);
    }
  </style>

</head>

<body>




  {%include 'admin/sideBar.html'%}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Berita</h1>

    </div><!-- End Page Title -->

    <div class="d-flex justify-content-end mb-3 me-5">
      <button type="button" class="btn  btn-outline-primary">
        <a href="/adminAddBerita" style="text-decoration: none; color: inherit;">Add Berita</a>
      </button>
    </div>


    <section class="section">
      <div class="table-responsive">
        <table class="table table-bordered table-custom">
          <thead>
            <tr>
              <th class="text-center">No</th>
              <th class="text-center">Gambar</th>
              <th class="text-center">Judul</th>
              <th class="text-center">Deskripsi</th>
              <th class="text-center">Aksi</th>
            </tr>
          </thead>
          <tbody>
            {% for item in Berita %}
            <tr>
              <td class="text-center">{{ loop.index }}</td>
              <td class="text-center"><img src="static/fotoBerita/{{item.gambar}}" alt="Sample Image" width="100"
                  class="img-fluid img-thumbnail"></td>
              <td class="text-center">{{item.judul}}</td>
              <td class="text-center">{{item.Deskripsi}}</td>
              <td class="text-center">
                <a href="/adminEditBerita/{{item._id}}">
                  <button type="button" class="btn btn-primary btn-sm "><i class="bi bi-pencil-square"></i>
                    Edit</button>
                </a>
                <a href="/adminSubBerita/{{item._id}}">
                  <button type="button" class="btn btn-primary btn-sm">
                    Sub Berita</button>
                </a>
                <a href="/adminDataKomentar/{{item._id}}">
                  <button type="button" class="btn btn-secondary btn-sm"><i class=""></i>
                    Komentar</button>
                </a>
                <a href="/adminDeleteBerita/{{item._id}}">
                  <button type="button" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i>
                    Delete</button>
                </a>
              </td>
            </tr>
            {% endfor %}

  </main><!-- End #main -->
  {%include 'admin/footer.html'%}