<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Edit Berita</title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    {%include 'admin/vendor.html'%}

  </head>
  
  <body>

{%include 'admin/sideBar.html'%}

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Blank Page</h1>
    </div><!-- End Page Title -->
    <div class="card border-0 shadow mb-4">
      <div class="card-body mt-4">
        <div class="table-responsive">
          <form action="/adminEditBerita/{{berita[0]._id}}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_id" value="{{berita[0]._id}}">
            <div class="mb-3">
              <label for="Deskripsi" class="form-label">Deskripsi</label>
              <input type="text" class="form-control" id="Deskripsi" name="Deskripsi" value="{{berita[0].Deskripsi}}"
                placeholder="Masukkan Deskripsi"  required
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label for="gambar" class="form-label">Upload foto</label>
              <img id="gambar-preview" src="static/fotoBerita{{berita[0].gambar}}" alt=""
                width="200" class="mb-3">
              <input type="file" class="form-control" id="gambar" accept=".png,.jpg,.jpeg"
                name="gambar" style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-danger" style="float: right;">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
   
  </main><!-- End #main -->
{%include 'admin/footer.html'%}