<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Edit Berita</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  {%include 'admin/vendor.html'%}
  <style>
    #berita {
      background-color: rgba(134, 163, 194, 0.1);
    }
  </style>

</head>

<body>

  {%include 'admin/sideBar.html'%}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Berita</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/adminBerita">Berita</a></li>
          <li class="breadcrumb-item">Edit Berita</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <div class="card border-0 shadow mb-4">
      <div class="card-body mt-4">
        <div class="table-responsive">
          <form id="form" action="/adminEditBerita/{{berita[0]._id}}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_id" value="{{berita[0]._id}}">
            <div class="mb-3">
              <label for="gambar" class="form-label">Upload foto</label>
              <br>
              <img id="gambar-preview" src="../static/fotoBerita/{{berita[0].gambar}}" alt="" width="200" class="mb-3">
              <input type="file" class="form-control" id="gambar" accept=".png,.jpg,.jpeg" name="gambar"
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label for="judul" class="form-label">Judul</label>
              <input type="text" class="form-control" id="judul" name="judul" value="{{berita[0].judul}}"
                placeholder="Masukkan Judul Berita" required style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label for="Deskripsi" class="form-label">Deskripsi </label>
              <div id="editorBerita">{{berita[0].Deskripsi|safe}}</div>
              <input type="hidden" name="Deskripsi" id="apbn">
              <!-- <textarea class="form-control" id="Deskripsi" name="Deskripsi" placeholder="Masukan Deskripsi" required
                style="border-radius: 10px;"></textarea> -->

            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-danger" style="float: right;">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </main><!-- End #main -->
  <script>
    const quill = new Quill('#editorBerita', {
      theme: 'snow'
    });
    let form = document.getElementById('form');
    form.onsubmit = function (e) {
      let content = document.getElementById('apbn');
      content.value = quill.root.innerHTML;
    }

  </script>
  {%include 'admin/footer.html'%}