<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Profile Sekolah</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  {%include 'admin/vendor.html'%}
  <style>
    #profile {
      background-color: rgba(134, 163, 194, 0.1);
    }

  </style>


</head>


<body>

  {%include 'admin/sideBar.html'%}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile Sekolah</h1>


    </div><!-- End Page Title -->
    <div class="d-flex justify-content-end mb-3 me-5">

      <button type="button" class="btn btn-outline-primary " id="btn-custom">
        <a href="/adminEditProfileSekolah/{{struktur[0]._id}}" style="text-decoration: none; color: inherit;">Edit
          Profile</a>
      </button>
    </div>
    <!-- Sejarah Card -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sejarah</h5>
        <p class="card-text">
          {{struktur[0].sejarah|safe}}
        </p>
      </div>
    </div><!-- End Sejarah Card -->

    <!-- Profile Card -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Profile</h5>
        <p class="card-text">
          {{struktur[0].profile|safe}}
        </p>
      </div>
    </div><!-- End Profile Card -->

    <!-- Struktur Card -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Struktur</h5>
        <img src="../../../static/fotoStruktur/{{struktur[0].gambarStruktur}}" alt="" style="width: 50vw;">

      </div>
    </div><!-- End Struktur Card -->

    <!-- Alamat Card -->
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Alamat</h5>
        <p class="card-text">
          {{struktur[0].alamat|safe}}
        </p>
      </div>
    </div><!-- End Alamat Card -->

  </main><!-- End #main -->
  {%include 'admin/footer.html'%}