<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Edit Daftar</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    {%include 'admin/vendor.html'%}

  </head>
  
  <body>
  


  {%include 'admin/sideBar.html'%}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Pendaftaran</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/adminDataDaftar">Pendaftaran</a></li>
          <li class="breadcrumb-item"><a href="/adminDetailDaftar/{{data._id}}">{{data.nama}}</a></li>
          <li class="breadcrumb-item active">Edit Daftar</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <!-- form edit -->
    <div class="card border-0 shadow mb-4">
      <div class="card-body mt-4">
        <div class="table-responsive">
          <form action="/adminEditDaftar/{{data._id}}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="_id" value="{{data._id}}">
            <div class="mb-3">
              <label for="nama" class="form-label">Nama Calon Peserta Didik :</label>
              <input type="text" class="form-control" id="nama" name="nama"
                value="{{data.nama}}" placeholder="Masukkan Nama Calon Peserta Didik" required
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label class="jenisKelamin" for="form-label">Jenis Kelamin :</label>
              <select class="form-select" id="inputGroupSelect01" name="jenisKelamin" style="border-radius: 10px;">
                <option selected>{{data.jk}}</option>
                <option value="Laki-Laki">Laki-Laki</option>
                <option value="Perempuan">Perempuan</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="nik" class="form-label">NIK :</label>
              <input type="number" class="form-control" id="nama" name="nik"
                value="{{data.nik}}" placeholder="Masukkan NIK" required
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label for="ttl" class="form-label">tepat, Tanggal Lahir :</label>
              <input type="text" class="form-control" id="nama" name="ttl"
                value="{{data.ttl}}" placeholder="Masukkan Tempat tanggal lahir" required
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label for="agama" class="form-label">Agama :</label>
              <input type="text" class="form-control" id="nama" name="agama"
                value="{{data.agama}}" placeholder="Masukkan agama" required
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label for="alamat" class="form-label">Alamat :</label>
              <input type="text" class="form-control" id="nama" name="alamat"
                value="{{data.alamat}}" placeholder="Masukkan alamat" required
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label class="statusTinggal" for="form-label">Status Tempat Tinggal :</label>
              <select class="form-select" id="inputGroupSelect01" name="tempatTinggal" style="border-radius: 10px;">
                <option selected>{{data.t_tinggal}}</option>
                <option value="Bersama Orang Tua">Bersama Orang Tua</option>
                <option value="Bersama Wali">Bersama Wali</option>
                <option value="Tinggal Sendiri">Tinggal Sendiri</option>

              </select>
            </div>
            <div class="mb-3">
              <label for="transportasi" class="form-label">Metode transportasi :</label>
              <input type="text" class="form-control" id="nama" name="transportasi"
                value="{{data.transportasi}}" placeholder="Masukkan Metode Transportasi" required
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label for="namaAyah" class="form-label">Nama Ayah :</label>
              <input type="text" class="form-control" id="nama" name="namaAyah"
                value="{{data.nama_ayah}}" placeholder="Masukkan Nama Ayah" required
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label for="ttlAyah" class="form-label">tahun Lahir Ayah :</label>
              <input type="number" class="form-control" id="nama" name="ttlAyah"
                value="{{data.ttl_ayah}}" placeholder="Masukkan Tahun lahir ayah" required
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label for="PAyah" class="form-label">Pendidikan Terakhir Ayah :</label>
              <input type="text" class="form-control" id="nama" name="pendidikanAyah"
                value="{{data.pendidikan_ayah}}" placeholder="Masukkan Pendidikan Terakhir Ayah" required
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label for="PeAyah" class="form-label">pekerjaan Ayah :</label>
              <input type="text" class="form-control" id="nama" name="pekerjaanAyah"
                value="{{data.pekerjaan_ayah}}" placeholder="Masukkan Pekerjaan Ayah" required
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label for="nomorAyah" class="form-label">Nomor Telp/Hp Ayah :</label>
              <input type="number" class="form-control" id="nama" name="nomorAyah"
                value="{{data.nomor_Hp_ayah}}" placeholder="Masukkan Nomor Telp / Hp ayah" required
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label for="namaIbu" class="form-label">Nama Ibu :</label>
              <input type="text" class="form-control" id="nama" name="namaIbu"
                value="{{data.nama_ibu}}" placeholder="Masukkan Nama ibu" required
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label for="ttlIbu" class="form-label">tahun Lahir ibu :</label>
              <input type="number" class="form-control" id="nama" name="ttlIbu"
                value="{{data.ttl_ibu}}" placeholder="Masukkan Tahun lahir ibu" required
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label for="PIbu" class="form-label">Pendidikan Terakhir ibu :</label>
              <input type="text" class="form-control" id="nama" name="pendidikanIbu"
                value="{{data.pendidikan_ibu}}" placeholder="Masukkan Pendidikan Terakhir ibu" required
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label for="PeIbu" class="form-label">pekerjaan ibu :</label>
              <input type="text" class="form-control" id="nama" name="pekerjaanIbu"
                value="{{data.pekerjaan_ibu}}" placeholder="Masukkan Pekerjaan ibu" required
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label for="nomorIbu" class="form-label">Nomor Telp/Hp ibu :</label>
              <input type="number" class="form-control" id="nama" name="nomorIbu"
                value="{{data.nomor_Hp_ibu}}" placeholder="Masukkan Nomor Telp / Hp ibu" required
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label for="tinggi" class="form-label">tinggi (cm):</label>
              <input type="number" class="form-control" id="nama" name="tinggi"
                value="{{data.tinggi}}" placeholder="Masukkan Tinggi Calon Peserta Didik" required
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label for="berat" class="form-label">Berat (Kg):</label>
              <input type="number" class="form-control" id="nama" name="berat"
                value="{{data.berat}}" placeholder="Masukkan Berat Calon Peserta Didik" required
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label for="jarak" class="form-label">Jarak Ke sekolah (Km):</label>
              <input type="number" class="form-control" id="nama" name="jarakSekolah"
                value="{{data.jarak_sekolah}}" placeholder="Masukkan Jarak Rumah Calon Peserta Didik ke Sekolah" required
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label for="waktu" class="form-label">Waktu Tempuh Ke Sekolah (Menit) :</label>
              <input type="number" class="form-control" id="nama" name="waktuSekolah"
                value="{{data.waktu_sekolah}}" placeholder="Masukkan Waktu Tempuh Ke Sekolah" required
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label for="anak" class="form-label">Anak Ke :</label>
              <input type="number" class="form-control" id="nama" name="anakKe"
                value="{{data.anak_ke}}" placeholder="Masukkan Anak Ke berapa" required
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <label for="saudara" class="form-label">Jumlah  Saudara :</label>
              <input type="number" class="form-control" id="nama" name="jumlahSaudara"
                value="{{data.saudara}}" placeholder="Masukkan Jumlah Saudara Calon Peserta Didik" required
                style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-danger" style="float: right;">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main><!-- End #main -->
  {%include 'admin/footer.html'%}