<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Login Admin</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {%include 'admin/vendor.html'%}
  <style>
    .toggle-password {
      cursor: pointer;
    }
  </style>
  <script>
    function signIn() {
      let username = $("#input-username").val();
      let password = $("#input-password").val();
      console.log(username)
      if (username === "") {
        $("#help-id-login").text("Please input your id.");
        $("#input-username").focus();
        console.log("test")
        return;
      } else {
        $("#help-id-login").text("");
      }

      if (password === "") {
        $("#help-password").text("Please input your password.");
        $("#input-password").focus();
        return;
      } else {
        $("#help-password-login").text("");
      }
      $.ajax({
        type: "POST",
        url: "/adminLogin",
        data: {
          username_give: username,
          password_give: password
        },
        success: function (response) {
          console.log(response)
          if (response["result"] === "success") {
            $.cookie("mytoken", response["token"], { path: "/" });
            window.location.replace("/adminProfileSekolah");
          } else {
            alert(response["msg"]);
          }
        }
      })
    }
    function togglePasswordVisibility() {
      var passwordInput = document.getElementById("input-password");
      var togglePassword = document.querySelector(".toggle-password");

      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        togglePassword.textContent = "Hide Password";
      } else {
        passwordInput.type = "password";
        togglePassword.textContent = "Show Password";
      }
    }
  </script>
  <style>
    .card {
      border-radius: 1rem;
    }

    .toggle-password {
      cursor: pointer;
      font-size: 0.9rem;
      color: #007bff;
    }

    .toggle-password:hover {
      text-decoration: underline;
    }

    .container {
      margin-left: auto;
      margin-right: auto;
    }

    .mb-4 {
      margin-bottom: 20px;
    }

    .logo {
      width: 40px;
      height: auto;
    }
  </style>
</head>


<body>
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="d-flex justify-content-center py-5">
                <img src="static/assets/img/logokabserang.png" alt="" class="logo">
                <h2 class="d-none d-lg-block" style="font-weight: bold;">SDN Bojong Neros</h2>
            </div>
            <!-- End Logo -->
        </div>
    </div>
    <div class="row justify-content-center align-items-center" style="margin-top: auto;">
        <div class="col-lg-6">
            <div class="card mx-auto mb-3">
                <div class="card-body">
                    <div class="pt-4 pb-2">
                        <h5 class="card-title pb-0 fs-4 text-center">Login ke akun Admin</h5>
                        <p class="small text-center">Masukkan Username dan Password</p>
                    </div>

                    <form class="row g-3 needs-validation" novalidate>
                        <div class="col-12">
                            <label for="input-username" class="form-label">Username</label>
                            <div class="mb-2">
                                <div class="field">
                                    <div class="control" style="width: 100%;">
                                        <input type="text" name="username" class="form-control" id="input-username" required>
                                        <p id="help-id-login" style="color: red;"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="mb-2">
                                <div class="field">
                                    <div class="control" style="width: 100%;">
                                        <label for="input-password" class="form-label">Password</label>
                                        <input type="password" name="password" class="form-control" id="input-password" required>
                                        <span class="toggle-password" onclick="togglePasswordVisibility()">Show Password</span>
                                        <p id="help-password" style="color: red;"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <button class="btn btn-primary w-100 mb-4" onclick="signIn()" type="button">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


  <!-- End #main -->
  {%include 'admin/footer.html'%}