<header id="header" class="header d-flex align-items-center sticky-top " style="background-color: white;">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a class="logo d-flex align-items-center me-auto" href="/">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="../static/assets/img/logokabserang.png" alt="">
        <h1 style="color: black;">SDN BOJONG NEROS</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/" class="active">Home<br></a></li>
          <li><a href="/profileSekolah">Profile Sekolah</a></li>
          <li><a href="/staff">Guru & Staff</a></li>
          <li><a href="/berita">Berita</a></li>
          <li><a href="/formDaftar">PPDB</a></li>
          <li><a href="/fasilitas">Fasilitas</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      {% if bolean == True %}
      <a class="btn-getstarted" onclick="sign_out()">Logout</a>
      {% else %}
      <a class="btn-getstarted" href="/login">Login</a>
      {%endif%}



    </div>
  </header>