<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>Form Daftar</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />
  {% include 'vendor.html' %}
  <style>
    #daftar {
      color: green;
    }

    body {
      background-color: #ecfaec;
    }
    .container-isi {
      margin: auto 10%;
      padding: 50px 5% 50px 5%;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .form-group {
      margin: auto;
    }

    label {
      margin: 15px 0px 10px 0px;
    }

    .form-group .flex {
      display: flex;
      gap: 10px;
    }

    .btn-custom {
      background-color: rgb(54, 168, 54);
      color: white;
    }

    .btn-custom:hover {
      background-color: green;
      color: white;
    }
  </style>
</head>

<body>
  {% include 'header.html' %}
  <main class="main">
    <div class="container-isi mt-5 mb-5">
      <h2 style="text-align: center;">Masukkan Data Anda Pada Form Dibawah :</h2><br>
      <ul class="nav nav-tabs" id="registrationTabs" role="tablist" style="display: none;">
        <li class="nav-item">
          <a class="nav-link active" id="calon-tab" data-toggle="tab" href="#calon" role="tab" aria-controls="calon"
            aria-selected="true">Data Calon Peserta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="ortu-tab" data-toggle="tab" href="#ortu" role="tab" aria-controls="ortu"
            aria-selected="false">Data Orang Tua</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="spesifik-tab" data-toggle="tab" href="#periodik" role="tab" aria-controls="spesifik"
            aria-selected="false">Data Periodik</a>
        </li>
      </ul>
      <form id="registrationForm" action="/formDaftar" method="post" enctype="multipart/form-data">
        <div class="tab-content" id="registrationTabsContent">
          <!-- Data Calon Peserta -->

          <div class="tab-pane fade show active" id="calon" role="tabpanel" aria-labelledby="calon-tab">
            <h5 class="text-center">Data Calon Peserta</h5>
            <hr>
            <div class="form-group">
              <label for="namaCalon">Nama Lengkap</label>
              <input type="text" class="form-control" id="namaCalon" name="nama"
                placeholder="Masukkan Nama Calon Peserta Didik" required>
            </div>
            <div class="form-group">
              <label for="jenisKelaminCalon">Jenis Kelamin</label>
              <select class="form-control" id="jenisKelaminCalon" name="jenisKelamin" required>
                <option selected disabled value="">Pilih Jenis Kelamin</option>
                <option value="Laki-Laki">Laki-Laki</option>
                <option value="Perempuan">Perempuan</option>
              </select>
            </div>
            <div class="form-group">
              <label for="nikCalon">NIK</label>
              <input type="number" class="form-control" id="nikCalon" name="nik" placeholder="Masukkan NIK" required>
            </div>
            <div class="form-group">
              <label for="ttlCalon">Tempat dan Tanggal Lahir</label>
              <div class="flex">
                <input type="text" class="form-control" id="tempatLahirCalon" name="tempatLahir"
                  placeholder="Masukkan Tempat lahir" required>
                <input type="date" class="form-control" id="tanggalLahirCalon" name="tanggalLahir"
                  placeholder="Masukkan tanggal lahir" required>
              </div>
            </div>
            <div class="form-group">
              <label for="agamaCalon">Agama</label>
              <input type="text" class="form-control" id="agamaCalon" name="agama" placeholder="Masukkan Agama"
                required>
            </div>
            <div class="form-group">
              <label for="alamatCalon" style="margin-bottom: 0px;">Alamat</label><br>
              <label for="alamatCalon" style="margin-top: 0px;">contoh : Ds. Bojong Neros Kp. Panosogan RT 001 RW 003
                kec. Cikeusal Serang Banten</label>
              <input type="text" class="form-control" id="alamatCalon" name="alamat" placeholder="Masukkan Alamat"
                required>
            </div>
            <div class="form-group">
              <label for="tempatTinggalCalon">Status Tempat Tinggal</label>
              <select class="form-control" id="tempatTinggalCalon" name="tempatTinggal" required>
                <option selected disabled value="">Pilih Status Tempat Tinggal</option>
                <option value="Bersama Orang Tua">Bersama Orang Tua</option>
                <option value="Bersama Wali">Bersama Wali</option>
                <option value="Tinggal Sendiri">Tinggal Sendiri</option>
              </select>
            </div>
            <div class="form-group">
              <label for="transportasiCalon">Metode Transportasi</label>
              <input type="text" class="form-control" id="transportasiCalon" name="transportasi"
                placeholder="Masukkan Metode Transportasi" required>
            </div>
            <div class="text-right mt-4 d-flex justify-content-end">
              <button type="button" class="btn btn-custom me-4" id="nextButtonCalon">
                Next
              </button>
            </div>
          </div>
          <!-- Data Orang Tua -->
          <div class="tab-pane fade" id="ortu" role="tabpanel" aria-labelledby="ortu-tab">
            <h5 class="text-center">Data Orang Tua</h5>
            <hr>
            <div class="form-group">
              <label for="namaAyah">Nama Ayah</label>
              <input type="text" class="form-control" id="namaAyah" name="namaAyah" placeholder="Masukkan Nama Ayah"
                required>
            </div>
            <div class="form-group">
              <label for="ttlAyah">Tahun Lahir Ayah</label>
              <input type="number" class="form-control" id="ttlAyah" name="ttlAyah"
                placeholder="Masukkan Tahun Lahir Ayah" required>
            </div>
            <div class="form-group">
              <label for="pendidikanAyah">Pendidikan Terakhir Ayah</label>
              <input type="text" class="form-control" id="pendidikanAyah" name="pendidikanAyah"
                placeholder="Masukkan Pendidikan Terakhir Ayah" required>
            </div>
            <div class="form-group">
              <label for="pekerjaanAyah">Pekerjaan Ayah</label>
              <input type="text" class="form-control" id="pekerjaanAyah" name="pekerjaanAyah"
                placeholder="Masukkan Pekerjaan Ayah" required>
            </div>
            <div class="form-group">
              <label for="nomorAyah">Nomor Telp / Hp Ayah</label>
              <input type="number" class="form-control" id="nomorAyah" name="nomorAyah"
                placeholder="Masukkan Nomor Telp / Hp Ayah" required>
            </div>
            <div class="form-group">
              <label for="namaIbu">Nama Ibu</label>
              <input type="text" class="form-control" id="namaIbu" name="namaIbu" placeholder="Masukkan Nama Ibu"
                required>
            </div>
            <div class="form-group">
              <label for="ttlIbu">Tahun Lahir Ibu</label>
              <input type="number" class="form-control" id="ttlIbu" name="ttlIbu" placeholder="Masukkan Tahun Lahir Ibu"
                required>
            </div>
            <div class="form-group">
              <label for="pendidikanIbu">Pendidikan Terakhir Ibu</label>
              <input type="text" class="form-control" id="pendidikanIbu" name="pendidikanIbu"
                placeholder="Masukkan Pendidikan Terakhir Ibu" required>
            </div>
            <div class="form-group">
              <label for="pekerjaanIbu">Pekerjaan Ibu</label>
              <input type="text" class="form-control" id="pekerjaanIbu" name="pekerjaanIbu"
                placeholder="Masukkan Pekerjaan Ibu" required>
            </div>
            <div class="form-group">
              <label for="nomorIbu">Nomor Telp / Hp Ibu</label>
              <input type="number" class="form-control" id="nomorIbu" name="nomorIbu"
                placeholder="Masukkan Nomor Telp / Hp Ibu" required>
            </div>
            <div class="text-right mt-4 d-flex justify-content-end">
              <button type="button" class="btn btn-custom me-4" id="nextButtonOrtu">
                Next
              </button>
            </div>
          </div>
          <!-- Data Periodik -->
          <div class="tab-pane fade" id="periodik" role="tabpanel" aria-labelledby="periodik-tab">
            <h5 class="text-center">Data Periodik</h5>
            <hr>
            <div class="form-group">
              <label for="tinggiCalon">Tinggi Calon Peserta Didik (cm)</label>
              <input type="number" class="form-control" id="tinggiCalon" name="tinggi"
                placeholder="Masukkan Tinggi Calon Peserta Didik" required>
            </div>
            <div class="form-group">
              <label for="beratCalon">Berat Calon Peserta Didik (kg)</label>
              <input type="number" class="form-control" id="beratCalon" name="berat"
                placeholder="Masukkan Berat Calon Peserta Didik" required>
            </div>
            <div class="form-group">
              <label for="jarakSekolahCalon">Jarak Rumah ke Sekolah (Km)</label>
              <input type="number" class="form-control" id="jarakSekolahCalon" name="jarakSekolah"
                placeholder="Masukkan Jarak Rumah ke Sekolah" required>
            </div>
            <div class="form-group">
              <label for="waktuSekolahCalon">Waktu Tempuh ke Sekolah (Menit)</label>
              <input type="number" class="form-control" id="waktuSekolahCalon" name="waktuSekolah"
                placeholder="Masukkan Waktu Tempuh ke Sekolah" required>
            </div>
            <div class="form-group">
              <label for="anakKeCalon">Anak ke</label>
              <input type="number" class="form-control" id="anakKeCalon" name="anakKe"
                placeholder="Masukkan Anak Ke berapa" required>
            </div>
            <div class="form-group">
              <label for="jumlahSaudaraCalon">Jumlah Saudara</label>
              <input type="number" class="form-control" id="jumlahSaudaraCalon" name="jumlahSaudara"
                placeholder="Masukkan Jumlah Saudara" required>
            </div>
            <div class="text-right mt-4 d-flex justify-content-end">
              <button type="submit" class="btn btn-danger">Submit</button>
            </div>
          </div>
      </form>
    </div>
  </main>
  {% include 'footer.html' %}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    document.getElementById('nextButtonCalon').addEventListener('click', function () {
      validateTab('calon', 'ortu');
    });

    document.getElementById('nextButtonOrtu').addEventListener('click', function () {
      validateTab('ortu', 'periodik');
    });

    function validateTab(currentTabId, nextTabId) {
      const inputs = document.querySelectorAll(`#${currentTabId} input, #${currentTabId} select`);
      let isValid = true;

      for (let i = 0; i < inputs.length; i++) {
        if (!inputs[i].value || (inputs[i].tagName === 'SELECT' && inputs[i].value === '')) {
          inputs[i].focus();
          isValid = false;
          break;
        }
      }

      if (isValid) {
        const nextTab = document.querySelector(`[href="#${nextTabId}"]`);
        const nextTabContent = document.getElementById(nextTabId);
        nextTab.classList.add('active');
        nextTabContent.classList.add('show', 'active');

        const currentTab = document.querySelector(`[href="#${currentTabId}"]`);
        const currentTabContent = document.getElementById(currentTabId);
        currentTab.classList.remove('active');
        currentTabContent.classList.remove('show', 'active');
      }
    }
  </script>
</body>

</html>