<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>Form Daftar</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />
  {%include 'vendor.html'%}
  <style>
    .input-group-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      box-sizing: border-box;
    }
  </style>
</head>

<body>
  {%include 'header.html'%}
  <main class="main">
    <div class="card border-0  mb-4 mx-5 md-5">
      <div class="card-body mt-4">

        <h4 class="mx-4 mb-5">Silahkan Masukkan Data Anda Pada Form Dibawah : </h4>
        <div class="table-responsive">
          <form action="/formDaftar" method="post" enctype="multipart/form-data">
            <div class=" input-group mb-3 row ">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">Nama Calon Peserta Didik :</span>
              </div>
              <input type="text" class="form-control" id="nama" name="nama" 
                placeholder="Masukkan Nama Calon Peserta Didik" required style="border-radius: 10px;">
            </div>
            <div class=" input-group mb-3 row">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">jenis Kelamin :</span>
              </div>
              <select class="form-select" id="inputGroupSelect01" name="jenisKelamin" style="border-radius: 10px;">
                <option selected>Pilih Jenis Kelamin</option>
                <option value="Laki-Laki">Laki-Laki</option>
                <option value="Perempuan">Perempuan</option>
              </select>
            </div>
            <div class=" input-group mb-3 row">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">NIK :</span>
              </div>
              <input type="number" class="form-control" id="nama" name="nik"
                placeholder="Masukkan NIK" required style="border-radius: 10px;">
            </div>
            <div class=" input-group mb-3 row">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">tepat, Tanggal Lahir :</span>
              </div>
              <input type="text" class="form-control" id="nama" name="ttl" 
                placeholder="Masukkan Tempat tanggal lahir" required style="border-radius: 10px;">
            </div>
            <div class=" input-group mb-3 row">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">Agama :</span>
              </div>
              <input type="text" class="form-control" id="nama" name="agama" 
                placeholder="Masukkan agama" required style="border-radius: 10px;">
            </div>
            <div class=" input-group mb-3 row">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">Alamat :</span>
              </div>
              <input type="text" class="form-control" id="nama" name="alamat" 
                placeholder="Masukkan alamat" required style="border-radius: 10px;">
            </div>
            <div class=" input-group mb-3 row">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">Status Tempat Tinggal :</span>
              </div>
              <select class="form-select" id="inputGroupSelect01" name="tempatTinggal" style="border-radius: 10px;">
                <option selected>Pilih Status Tempat Tinggal</option>
                <option value="Bersama Orang Tua">Bersama Orang Tua</option>
                <option value="Bersama Wali">Bersama Wali</option>
                <option value="Tinggal Sendiri">Tinggal Sendiri</option>

              </select>
            </div>
            <div class=" input-group mb-3 row">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">Metode Transformasi :</span>
              </div>
              <input type="text" class="form-control" id="nama" name="transportasi" 
                placeholder="Masukkan Metode Transportasi" required style="border-radius: 10px;">
            </div>
            <div class=" input-group mb-3 row">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">Nama Ayah :</span>
              </div>
              <input type="text" class="form-control" id="nama" name="namaAyah" 
                placeholder="Masukkan Nama Ayah" required style="border-radius: 10px;">
            </div>
            <div class=" input-group mb-3 row">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">Tahun Lahir Ayah :</span>
              </div>
              <input type="number" class="form-control" id="nama" name="ttlAyah" 
                placeholder="Masukkan Tahun lahir ayah" required style="border-radius: 10px;">
            </div>
            <div class=" input-group mb-3 row">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">Pendidikan Terakhir Ayah :</span>
              </div>
              <input type="text" class="form-control" id="nama" name="pendidikanAyah" 
                placeholder="Masukkan Pendidikan Terakhir Ayah" required style="border-radius: 10px;">
            </div>
            <div class=" input-group mb-3 row">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">Pekerjaan Ayah :</span>
              </div>
              <input type="text" class="form-control" id="nama" name="pekerjaanAyah" 
                placeholder="Masukkan Pekerjaan Ayah" required style="border-radius: 10px;">
            </div>
            <div class=" input-group mb-3 row">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">Nomor telp/Hp Ayah :</span>
              </div>
              <input type="number" class="form-control" id="nama" name="nomorAyah" 
                placeholder="Masukkan Nomor Telp / Hp ayah" required style="border-radius: 10px;">
            </div>
            <div class=" input-group mb-3 row">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">Nama Ibu :</span>
              </div>
              <input type="text" class="form-control" id="nama" name="namaIbu" 
                placeholder="Masukkan Nama ibu" required style="border-radius: 10px;">
            </div>
            <div class=" input-group mb-3 row">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">Tahun Lahir Ayah :</span>
              </div>
              <input type="number" class="form-control" id="nama" name="ttlIbu" 
                placeholder="Masukkan Tahun lahir ibu" required style="border-radius: 10px;">
            </div>
            <div class=" input-group mb-3 row">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">Pendidikan terakhir Ibu :</span>
              </div>
              <input type="text" class="form-control" id="nama" name="pendidikanIbu" 
                placeholder="Masukkan Pendidikan Terakhir ibu" required style="border-radius: 10px;">
            </div>
            <div class=" input-group mb-3 row">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">Pekerjaan Ibu :</span>
              </div>
              <input type="text" class="form-control" id="nama" name="pekerjaanIbu" 
                placeholder="Masukkan Pekerjaan ibu" required style="border-radius: 10px;">
            </div>
            <div class=" input-group mb-3 row">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">Nomor Telp/Hp Ibu :</span>
              </div>
              <input type="number" class="form-control" id="nama" name="nomorIbu" 
                placeholder="Masukkan Nomor Telp / Hp ibu" required style="border-radius: 10px;">
            </div>
            <div class=" input-group mb-3 row">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">Tinggi (cm):</span>
              </div>
              <input type="number" class="form-control" id="nama" name="tinggi" 
                placeholder="Masukkan Tinggi Calon Peserta Didik" required style="border-radius: 10px;">
            </div>
            <div class=" input-group mb-3 row">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">Berat (kg) :</span>
              </div>
              <input type="number" class="form-control" id="nama" name="berat" 
                placeholder="Masukkan Berat Calon Peserta Didik" required style="border-radius: 10px;">
            </div>
            <div class=" input-group mb-3 row">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">Jarak Ke Sekolah (Km) :</span>
              </div>
              <input type="number" class="form-control" id="nama" name="jarakSekolah" 
                placeholder="Masukkan Jarak Rumah Calon Peserta Didik ke Sekolah" required style="border-radius: 10px;">
            </div>
            <div class=" input-group mb-3 row">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">Waktu Tempuh Ke Sekolah (Menit) :</span>
              </div>
              <input type="number" class="form-control" id="nama" name="waktuSekolah" 
                placeholder="Masukkan Waktu Tempuh Ke Sekolah" required style="border-radius: 10px;">
            </div>
            <div class=" input-group mb-3 row">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">Anak Ke :</span>
              </div>
              <input type="number" class="form-control" id="nama" name="anakKe" 
                placeholder="Masukkan Anak Ke berapa" required style="border-radius: 10px;">
            </div>
            <div class=" input-group mb-3 row">
              <div class="text mx-3 col-md-3">
                <span class="input-group-text">Jumlah Saudara :</span>
              </div>
              <input type="number" class="form-control" id="nama" name="jumlahSaudara" 
                placeholder="Masukkan Jumlah Saudara Calon Peserta Didik" required style="border-radius: 10px;">
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-danger" style="float: right;">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main><!-- En
  {%include 'footer.html'%}

</body>

</html>