<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>Login</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
  {%include 'vendor.html'%}
  <script>
    function signIn() {
      let username = $("#username").val();
      let password = $("#password").val();
      console.log(username)
      if (username === "") {
        $("#help-id-login").text("Please input your id.");
        $("#username").focus();
        console.log("test")
        return;
      } else {
        $("#help-id-login").text("");
      }

      if (password === "") {
        $("#help-password").text("Please input your password.");
        $("#password").focus();
        return;
      } else {
        $("#help-password").text("");
      }
      $.ajax({
        type: "POST",
        url: "/login",
        data: {
          username_give: username,
          password_give: password
        },
        success: function (response) {
          console.log(response)
          if (response["result"] === "success") {
            $.cookie("P1a_M3raLe0", response["token"], { path: "/" });
            window.location.replace("/");
          } else {
            alert(response["msg"]);
          }
        }
      })
    }
    function togglePasswordVisibility() {
      var passwordInput = document.getElementById("password");
      var eyeIcon = document.querySelector(".toggle-password i");

      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        eyeIcon.classList.remove("fa-eye");
        eyeIcon.classList.add("fa-eye-slash");
      } else {
        passwordInput.type = "password";
        eyeIcon.classList.remove("fa-eye-slash");
        eyeIcon.classList.add("fa-eye");
      }
    }
  </script>
  <style>
    .img-fluid {
      max-width: 100%;
      height: auto;
      border-radius: 1rem 0 0 1rem;

    }

    .form-label {
      font-weight: bold;
      color: #495057;
    }

    .form-control {
      border-radius: 5px;
      border-color: #94bbe3;
    }

    .form-control:focus {
      border-color: #007bff;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);

    }

    .toggle-password {
      cursor: pointer;
      color: #007bff;
      text-decoration: none;

    }

    .toggle-password:hover {
      text-decoration: underline;

    }

    #eye-icon {
      font-size: 1.5em;
      /* Atur ukuran ikon */
      color: #6c757d;
      /* Warna ikon default */
    }
  </style>
</head>

<body>
  {%include 'header.html'%}
  <div class="container-isi">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card m-4" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 d-none d-md-block">
                <img src="../static/img/login.jpeg" alt="login form" class="img-fluid">
              </div>
              <div class="col-md-6">
                <div class="card-body p-4 p-lg-5">
                  <form>
                    <div class="text-center mb-4">
                      <img src="static/assets/img/logokabserang.png" alt="School Logo" width="30">
                      <h4 class="fw-bold d-inline ml-2">SDN BOJONG NEROS</h4>
                    </div>

                    <h5 class="fw-normal mb-4 text-center">Login ke akun anda</h5>

                    <div class="form-group mb-4">
                      <label class="form-label" for="username">Username</label>
                      <input type="text" id="username" name="username" class="form-control form-control-lg"
                        placeholder="Masukkan username">
                      <p id="help-id-login" class="text-danger"></p>
                    </div>

                    <div class="form-group mb-4 position-relative">
                      <label class="form-label" for="password">Password</label>
                      <div class="input-group">
                        <input type="password" id="password" name="password" class="form-control form-control-lg"
                          placeholder="Masukkan password">
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <a class="toggle-password" onclick="togglePasswordVisibility()" href="#">
                              <i class="fa fa-eye"></i>
                            </a>
                          </span>
                        </div>
                      </div>
                      <p id="help-password" class="text-danger"></p>
                    </div>

                    <div class="pt-1 mb-4 text-center">
                      <button class="btn btn-dark btn-lg btn-block" type="button" onclick="signIn()">Login</button>
                    </div>

                    <p class="mt-3 mb-0 text-center">
                      Belum punya akun? <a href="/register">Registrasi akun disini</a>
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </main>
    {%include 'footer.html'%}

</body>

</html>