<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>Register</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />
  {% include 'vendor.html' %}
  <style>
    .img-fluid {
      max-width: 100%;
      height: auto;
      border-radius: 1rem 0 0 1rem;
    }
    .form-label {
      font-weight: bold;
      color: #495057;
    }

    .form-control {
      border-radius: 5px;
      border-color: #94bbe3;
    }

    .form-control:focus {
      border-color: #007bff;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);

    }
  </style>
</head>

<body>
  {% include 'header.html' %}
  <main class="main">
    <div class="container-isi">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card m-4" style="border-radius: 1rem;">
              <div class="row g-0">
                <div class="col-md-6 d-none d-md-block">
                  <img src="../static/img/login.jpeg" alt="login form" class="img-fluid">
                </div>
                <div class="col-md-6">
                  <div class="card-body p-4 p-lg-5">
                  <form action="{{ url_for('userRegister') }}" method="POST">
                    <div class="text-center mb-4">
                      <img src="static/assets/img/logokabserang.png" alt="School Logo" width="30">
                      <h3 class="fw-bold d-inline ml-2">SDN BOJONG NEROS</h3>
                    </div>

                    <h5 class="fw-normal mb-4 text-center" style="letter-spacing: 1px">Registrasi akun</h5>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="username">Username</label>
                      <input type="text" id="username" name="username" class="form-control form-control-lg" required />
                    </div>
                    
                    <div class="form-outline mb-4">
                      <label class="form-label" for="password">Password</label>
                      <input type="password" id="password" name="password" class="form-control form-control-lg"
                      required />
                    </div>
                    
                    {% if msg %}
                    <div class="alert alert-danger" role="alert">
                      {{ msg }}
                    </div>
                    {% endif %}
                    <div class="pt-1 mb-4 text-center">
                      <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block"
                        type="submit">Register</button>
                    </div>

                    <p class="mt-3 mb-0 text-center">
                      Sudah Punya Akun? <a href="/login" >Login Disini</a>
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  {% include 'footer.html' %}
</body>

</html>