<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>Guru & Staff</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />
  {%include 'vendor.html'%}
  <style>
    #staff {
      color: green;
    }
    .uniform-card {
      height: 400px; 
    }
    
    .card-img-container {
      flex-grow: 1; 
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .img-fluid:hover {
      transform: scale(1.05);
    }
  </style>
</head>

<body>
  {%include 'header.html'%}
  <main class="main">
    <div class="container">
      <h1 class="text-center my-4">Guru & Staff SDN Bojong Neros</h1>
      <div class="row">
        {% for item in gurustaf %}
        <div class="col-md-3 mb-4" data-aos="fade-up" data-aos-delay="300">
          <div class="card text-center shadow-sm uniform-card" style="border-radius: 15px; overflow: hidden;">
            <div class="card-img-container" style="display: flex; justify-content: center; align-items: center; padding: 20px;">
              <img src="static/fotostaff/{{ item.gambar }}" 
                   style="max-width: 80%; height: auto; border-radius: 15px; border: 3px solid #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); transition: transform 0.3s;" 
                   class="img-fluid" 
                   alt="{{ item.nama }}">
            </div>
            <div class="card-body" style="padding-top: 20px;">
              <h5 class="card-title" style="font-weight: bold; color: #343a40;">{{ item.nama }}</h5>
              <p class="card-text" style="color: #6c757d;">{{ item.jabatan }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </main>
  {%include 'footer.html'%}
</body>

</html>