<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Guru & Staff</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    {%include 'vendor.html'%}
  </head>
  <body>
    {%include 'header.html'%}
    <main class="main">
      <section id="trainers" class="section trainers">

        <div class="container">
  
          <div class="row gy-5">
  
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info text-center">
                <h4>Nama </h4>
              </div>
            </div><!-- End Team Member -->
  
          </div>
  
        </div>
  
      </section><!-- /Trainers Section -->
    </main>
    {%include 'footer.html'%}
    
  </body>
</html>
