<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>Guru & Staff</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />
  {%include 'vendor.html'%}
</head>

<body>
  {%include 'header.html'%}
  <main class="main">
    <div class="container">
      <h1 class="text-center my-4">Guru & Staff SDN Bojong Neros</h1>
      <div class="row">
        {% for item in gurustaf %}
        <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-delay="300">
          <div class="card text-center">
            <img src="static/fotostaff/{{ item.gambar }}" style="width: 80%; height: auto; margin: 0 auto;"
              class="card-img-top img-fluid" alt="">
            <div class="card-body">
              <h4 class="card-title">{{ item.nama }}</h4>
              <p class="card-text">{{ item.jabatan }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </main>


  {%include 'footer.html'%}

</body>

</html>