<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>Syarat Daftar</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />
  {%include 'vendor.html'%}
  <style>
    .container-isi {
      width: 100vw;
      height: 100vh;
      padding-top: 200px;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    #daftar{
      color: green;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin-left: 40%;
      margin-top: 50px;
      text-align: left;
      font-size: larger;
    }
    button{
      
      background-color: blue;
    }
  </style>
  
</head>

<body>
  {%include 'header.html'%}
  <main class="main">
    <div class=" container-isi">
      <h1>Terimakasih telah mendaftar</h1><br>
      <h1>Berikut adalah berkas yang harus diserahkan ke sekolah :</h1>
      <ul>
        <h3> 1. Pas foto 3 x 4</h3>
        <h3> 2. Fotocopy Kartu Keluarga</h3>
        <h3> 3. Fotocopy KTP Orang Tua</h3>
      </ul>
      <button type="button" class="btn btn-light "style="background-color: green; padding: 20px 100px; margin-top: 30px">
        <a href="/" style="color: white;">Back To Home </a>
      </button>
    </div>
  </main>
  {%include 'footer.html'%}


</body>

</html>